linkedinconsumerkey			pOoKSfgVaikIxuA4xAhleh49wdyhHqX-qE_Fop5IDm1PGXv6uEPz6r_WnI35TzHn
linkedinsecretkey			O-tW3325s-oG1QjsAv6Kgua_Q0wJ1_UesfhFfwXkY1yfl3ULLhc8MeSgUo1f9Xec
linkedinrequesttokenurl		https://api.linkedin.com/uas/oauth/requestToken
linkedinaccesstokenurl		https://api.linkedin.com/uas/oauth/accessToken
linkedinauthorizationurl	https://api.linkedin.com/uas/oauth/authorize
linkedincallbackurl			http://www.klipbord.com/ProcessCallback.aspx?src=li
twitterconsumerkey			tKWjVcoguItesnyoOxsA
twittersecretkey			FEngkU74lz4YzWa542uqpEbUdSbh84EqXIVHJuu0k
twitterrequesttokenurl		http://api.twitter.com/oauth/request_token
twitteraccesstokenurl		http://api.twitter.com/oauth/access_token
twitterauthorizationurl		http://api.twitter.com/oauth/authorize
twittercallbackurl			http://www.klipbord.com/ProcessCallback.aspx?src=tw
flickrconsumerkey			ec2288cd1ea9df9d2ec86103decb27ea
flickrsecretkey				23b40e21f3759324
flickrauthorizationurl		http://flickr.com/services/auth/