<?xml version="1.0"?>
<configuration>
	<system.web>
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="MySql.Data, Version=6.3.5.0, Culture=neutral, PublicKeyToken=C5687FC88969C44D"/></assemblies></compilation>
	</system.web>
	<appSettings>
	<add key="dsnInterop.GeneralRemoteMethodService" value="http://localhost:8888/dsn-interop"/>
	</appSettings></configuration>
